.sgy-identity {
    .card-title {
        color: #4d6199;
    }
    ul {
        list-style-type: none;
        padding-left: 0;

        .sgy-identity-separator{
            padding-top: 5px;
        }
    }
}
